<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="myModal.show()">
            Add Counsellor
          </button>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Counsellors
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Operations </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Arjun</td>
                <td>Singh</td>
                <td>arjun006@gmail.com</td>
                <td>
                  <span class="badge badge-success">9921347865</span>
                </td>

                <td>
                  <i (click)="getCounsellorForEdit(counsellor)" class="fa fa-pencil" style="cursor: pointer;font-size:17px;color:#20a8d8"></i>&nbsp;&nbsp;
                  <i (click)="deleteCounsellor($event,counsellor)" class="fa fa-remove" style="cursor: pointer;font-size:20px;color:#f86c6b"></i>
                </td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <td>Aniket</td>
                <td>tripathi</td>
                <td>anikettripathi@gmail.com</td>
                <td>
                  <span class="badge badge-success">9970256745</span>
                </td>
                <td>
                  <i (click)="getCounsellorForEdit(counsellor)" class="fa fa-pencil" style="cursor: pointer;font-size:17px;color:#20a8d8"></i>&nbsp;&nbsp;
                  <i (click)="deleteCounsellor($event,counsellor)" class="fa fa-remove" style="cursor: pointer;font-size:20px;color:#f86c6b"></i>
                </td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <td>Rachna</td>
                <td>malik</td>
                <td>rachna@gmail.com</td>
                <td>
                  <span class="badge badge-success">8878675645</span>
                </td>
                <td>
                  <i (click)="getCounsellorForEdit(counsellor)" class="fa fa-pencil" style="cursor: pointer;font-size:17px;color:#20a8d8"></i>&nbsp;&nbsp;
                  <i (click)="deleteCounsellor($event,counsellor)" class="fa fa-remove" style="cursor: pointer;font-size:20px;color:#f86c6b"></i>
                </td>
              </tr>
            </tbody>

             <tbody>
            <tr *ngFor ="let counsellor of counsellors">
              <td>{{counsellor.firstname}}</td>
              <td>{{counsellor.lastname}}</td>
              <td>{{counsellor.email}}</td>
              <td>{{counsellor.mobile}}</td>

            <td>  <i (click)="getCounsellorForEdit(counsellor)" class="fa fa-pencil" style="cursor: pointer;font-size:17px;color:#20a8d8"></i>&nbsp;&nbsp;
                <i (click)="deleteCounsellor($event,counsellor)" class="fa fa-remove" style="cursor: pointer;font-size:20px;color:#f86c6b"></i>
           </td> 

            <!-- <td><button type="Submit" (click)="updateAdmin()">edit</mat-icon></td>
              <td> <button type="Submit" (click)="deleteAdmin()">delete</mat-icon></td> -->
            </tr> 
          </tbody>
          </table>

         <!--  -->

            <counsellor-modal></counsellor-modal>
          <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add Counsellor</h4>
                  <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!-- put your component here -->

                <div class="modal-body">
                  <!-- <p>Form will go here...</p> -->
                  <form [formGroup]="counsellorform" (ngSubmit) = "createCounsellor()">
              
                    <main class="main d-flex align-items-center">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 mx-auto">
                            <div class="card mx-auto "  style="margin-bottom:0%">
                              <div class="card-body p-3">
                                <h5>Create New Counsellor</h5>
                                <!-- <p class="text-muted">Create New faculty</p> -->
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"  >
                                </div>

                                <div *ngIf="counsellorform.get('firstName').touched && counsellorform.get('firstName').invalid">
                                    <span class="style"> *First name is required </span></div>
                                
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Last Name"  formControlName="lastName">
                                  </div>

                                  <div *ngIf="counsellorform.get('lastName').touched && counsellorform.get('lastName').invalid">
                                      <span class="style"> *Last name is required </span></div>

                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Email" formControlName="email">
                                </div>

                                <div *ngIf="counsellorform.get('email').touched && counsellorform.get('email').invalid">
                                    <span class="style"> *email is required </span></div>

                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-phone"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Mobile" formControlName="mobile">
                                </div>
                                <div *ngIf="counsellorform.get('mobile').touched && counsellorform.get('mobile').invalid">
                                    <span class="style"> *Mobile number is required </span></div>
                                <!-- <button type="button" class="btn btn-block btn-success">Create Account</button> -->
                  
                              <!-- <div class="card-footer p-4">
                                <div class="row">
                                  <div class="col-6">
                                    <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                                  </div>
                                  <div class="col-6">
                                    <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </main>
                
                 </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="counsellorform.invalid" (click)="myModal.hide()" >Save</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
      
          <!-- /.modal -->
        </div>
      

      </div>
    </div>
  </div>
