.style{
    color: crimson;
    float: initial;
    text-align: right;

}

.style1{
    color: crimson;
    float: initial;
    text-align: center;
}

.Style2{
    color: forestgreen;
    float: initial;
    position: fixed;
}